@import "./utils/variables";
@import "./pages/acceuil";
@import "./layouts/footer";
@import "./layouts/header";
@import "./components/btn";
@import "./base/menu";
@import "./base/icons";
@import "./base/responsive";
@import "./components/animations";
main {
    font-family: "Roboto", sans-serif;
    max-width: 1250px;
}

body {
    width: 100%;
    margin: 0;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
    color: initial;
}