main {
    font-family: "Roboto", sans-serif;
}

body {
    width: 100%;
    margin: 0;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 80px;
    width: 100%;
    box-shadow: 0px 5px 6px 0px rgba(0, 0, 0, 0.2);
}

.logo {
    font-family: "Shrikhand", cursive;
    margin: 0;
    color: black;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
    color: #7a7a7a;
}

.city {
    margin-left: 10px;
}

.explore-container {
    background: #fafafa;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
}

.explore-title {
    text-align: center;
    max-width: 250px;
    margin: 0;
}

.explore-text {
    text-align: center;
}

.explore-button {
    background: linear-gradient(#FF79DA, #9356DC);
    color: white;
    border-radius: 200px;
    padding: 0 20px;
}

.process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 10px;
}

.steps {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #f6f6f6;
    margin: 10px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.1);
}

.number {
    color: white;
    background: #9356DC;
    border-radius: 100%;
    padding: 3px 8px;
}

.procss-icon {
    color: #7e7e7e;
    margin: 0 15px;
}

.img {
    display: flex;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 160px;
}

.restaurants {
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    padding: 25px;
}

.restaurants-case {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.restaurant-cards {
    display: flex;
    flex-direction: column;
    position: relative;
}

.new {
    display: flex;
    position: absolute;
    background: #99e2D0;
    top: 20px;
    right: 20px;
}

.new p {
    margin: 0;
    padding: 8px 15px;
}

.card-description {
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 0 0 20px 20px;
    box-shadow: 1px 1px 17px -10px black;
    height: 60px;
    gap: 10px;
    padding: 10px 0 10px 10px;
}

.restaurants-name {
    font-size: 18px;
    font-weight: 600;
}

.footer {
    background-color: #353535;
    margin: 0;
    width: 100%;
    padding-bottom: 25px;
}

.footer-bloc {
    margin-left: 25px;
    color: white;
}

.footer-logo {
    font-family: "Shrikhand", cursive;
    font-size: 20px;
    padding: 15px 0;
}

.footer-links {
    display: flex;
    align-items: center;
    height: 25px;
    font-size: 18px;
    font-weight: 500;
}

.footer-icon {
    margin-right: 5px;
}

.image {
    width: 100%;
    height: 450px;
    object-fit: cover;
}

a {
    text-decoration: none;
    color: initial;
}


/*Pages menu*/

.menu {
    background-color: #f6f6f6;
    margin-top: -150px;
    border-radius: 30px 30px 0 0;
    position: relative;
    width: 100%;
}

.restaurant-name {
    font-family: 'Shrikhand', cursive;
    margin-left: 20px;
    padding: 20px 0 20px 0;
    font-size: 23px;
}

.container-menu {
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    gap: 15px;
}

.menu-title {
    margin-left: 20px;
}

.menu-box {
    display: flex;
    background-color: white;
    border-radius: 15px;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.1);
}

.description-title {
    font-weight: bold;
}

.price {
    font-weight: bold
}


/*# sourceMappingURL=style.css.map */