.location {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3f3f3;
    color: black;
}

.city {
    margin-left: 10px;
    font-weight: 500;
}

.explore-container {
    background: #fafafa;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 40px 0;
}

.explore-title {
    text-align: center;
    max-width: 250px;
    margin: 0;
}

.explore-text {
    text-align: center;
    padding: 15px;
    font-size: 17px;
    color: #7e7e7e;
}

.process {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px 10px 40px 10px;
}

.process-title {
    margin-left: 20px;
}

.steps {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #f6f6f6;
    margin: 10px 20px;
    border-radius: 20px;
    box-shadow: 5px 5px 12px 5px rgba(0, 0, 0, 0.1);
    padding: 9px;
    &:hover {
        background-color: rgb(246, 236, 253);
    }
    p {
        font-weight: 500;
        margin-left: 11px;
    }
}

.purple-step {
    background-color: rgb(246, 236, 253);
    ;
}

.purple-icon {
    color: $violet;
}

.number {
    color: white;
    background: $violet;
    border-radius: 100%;
    padding: 3px 8px;
    margin-left: -15px;
}

.process-icon {
    color: #7e7e7e;
    margin: 0 15px;
}

.img {
    display: flex;
    object-fit: cover;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 200px;
}

.restaurants {
    display: flex;
    flex-direction: column;
    background: #f6f6f6;
    padding: 25px 25px 75px 25px;
}

.restaurant-case {
    width: 100%;
}

.restaurants-bloc {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.restaurant-cards {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}

.restaurant-location {
    font-size: 17px;
    font-weight: 300;
}

.new {
    display: flex;
    position: absolute;
    background: $turquoise;
    top: 20px;
    right: 20px;
    p {
        margin: 0;
        padding: 8px 15px;
        color: rgb(21, 145, 97);
    }
}

.card-description {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-radius: 0 0 20px 20px;
    box-shadow: 1px 1px 17px -10px black;
    height: 70px;
    gap: 10px;
    padding: 10px 0 10px 10px;
}

.card-description-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.restaurants-name {
    font-size: 18px;
    font-weight: 600;
}